.about {
    min-height: 10vh;
    background-color: #4F6F52;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-form {
    background-color: #F5EFE6;
    width: 80%;
    padding: 20px;
    border-radius: 0px;
    margin: 50px 50px !important;
    box-shadow: 0px 5px 5px #3C5A42;
    display: flex;
    flex-flow: column;
    /* Adjust width as needed */
}

.card-form h2 {
    margin-bottom: 15px;
    text-align: center;
}



.card-form label {
    display: block;
    margin-bottom: 5px;
}





@keyframes move {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }

    /* Move image to the left by its width */
}


.icons img {
    width: 80px;

    margin-left: 20px;

}

.icons {
    display: flex;
}

.wrapper {
    margin-top: 40px;
}

.about-me h1 {
    font-size: 2em;
    color: #314233;
}

/* Style the paragraph */
.about-me p {
    font-size: 1.5em;
    color: #4F6F52;
}