.about {
    min-height: 100vh;
    background-color: #4F6F52;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-form {
    background-color: #F5EFE6;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 5px 5px #3C5A42;
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Adjust width as needed */
}

.card-form h2 {
    margin-bottom: 15px;
    text-align: center;
}

.card-form label {
    display: block;
    margin-bottom: 5px;
}