.project-card {
    background-color: #F5EFE6;
    color: #4F6F52;
    width: 70%;
    padding: 20px;
    border-radius: 1px;
    margin: 50px 50px !important;
    box-shadow: 5px 5px 20px 5px #cedfd1;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: all 1s;

}

.project-card:hover {
    border-radius: 100px;
    transform: scale(1.1);


}

.buttons {
    display: flex;
    flex-flow: row;
    gap: 10px;
}

.wrapper-btn {
    align-items: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
    gap: 5px;
}

.img {
    border-radius: 5px;
    margin-top: 20px;
    width: 75%;
}