.home {
    background-color: #F5EFE6;
    color: #4F6F52;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

}

.home h1 {
    font-size: 3.7em;
    margin: 0;
}

.wave {
    margin: 0;
    font-size: 2em !important;
    animation-name: wave-animation;
    /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;
    /* Change to speed up or slow down */
    animation-iteration-count: infinite;
    /* Never stop waving :) */
    transform-origin: 70% 70%;
    /* Pivot around the bottom-left palm */
    display: inline-block;
}

.btn {
    display: block;
    background-color: #4F6F52;
    border: none;
    color: #F5EFE6;
    padding: .6rem .7rem !important;
    margin-top: 30px;
}

.btn:hover {
    background-color: #3C5A42;
    /* Darker green on hover */
    cursor: pointer;
    /* Change cursor to indicate interaction */
}



.type {
    margin: 0px;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg)
    }

    10% {
        transform: rotate(14.0deg)
    }

    /* The following five values can be played with to make the waving more or less extreme */
    20% {
        transform: rotate(-8.0deg)
    }

    30% {
        transform: rotate(14.0deg)
    }

    40% {
        transform: rotate(-4.0deg)
    }

    50% {
        transform: rotate(10.0deg)
    }

    60% {
        transform: rotate(0.0deg)
    }

    /* Reset for the last half to pause */
    100% {
        transform: rotate(0.0deg)
    }
}


@media screen and (max-width: 768px) {
    .home h1 {
        font-size: 1.8em;
    }

    .type {
        font-size: 2em !important;
    }

    .home-btn {
        font-size: 1em !important;
    }

}