.navbar {
    display: flex;
    color: #E8DFCA !important;
    position: fixed;
    z-index: 100;
    flex-flow: row;
    justify-content: space-between;
    background-color: #709968;
    color: white;
    width: 100%;
    padding: 20px 0;
}

.barr {
    color: #E8DFCA !important;
}

.logo {
    font-size: 2em;
    margin-left: 20px;
}

.toggle-button {
    display: none;
    background: none;
    border: none;
    font-size: 1.5em;
    margin-right: 20px;
    cursor: pointer;
}

.nav-links {
    color: #E8DFCA;
    display: flex;
    list-style: none;
    font-size: 1.2em;
    margin-right: 100px;
}

.nav-links li {
    margin: 0 .5em;
    transition: all 1s;
}

.nav-links li:hover {
    background-color: #E8DFCA;
    color: #1A4D2E;
}

.link-nav {
    color: #E8DFCA;
    text-decoration: none;
    transition: all 1s;
}

.link-nav:hover {
    color: #709968;



}

@media (max-width: 768px) {
    .toggle-button {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: #709968;
        padding: 10px 0;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 0;
        text-align: center;
    }
}