.projects {
    background-color: #F5EFE6;
    min-height: 100vh;
    padding: 100px 20px;
}

.title {
    font-size: 2em;
    text-align: center;
}

.title span {
    color: #4F6F52;
}

.project-area {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
}

.proj {
    text-align: center;
}