body {
  box-sizing: border-box;
  margin: 0;
}


@media screen and (max-width: 768px) {
  body {
    margin: 0 !important;
  }

}

body::-webkit-scrollbar {
  width: 8px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #709968;

  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #E8DFCA;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  /* creates padding around scroll thumb */
}